@font-face {
	font-family: "Gotham Pro";
	src: url("fonts/GothamPro-Medium.woff");
	font-style: normal;
	font-weight: 400;
}

body {
	margin: 0;
	font-family: "Gotham Pro";
	font-size: 12px;
	line-height: 28px;
	color: #2C323A;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

h2 {
	text-transform: uppercase;
}

button, input {
	font-family: "Gotham Pro";
	border: none;
	text-align: center;
}

sup {
	vertical-align: baseline; position: relative; top: -0.4em;
	}

input {
	border-radius: 5px;
	border: 1px solid #D8D8D8;
}

.main-container {
	background: #F8F8F8;
	margin: 30px;
	padding: 40px 15px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center
}

/* filters block*/
.filters-container {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;

	width: 1170px;
}

.rooms-filter-button{
	width: 47px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #D8D8D8;
}

.selected {
	background: #70D24E;
	color: #FFFFFF;
}

.filters-input {
	width: 80px;
	height: 40px;
}

.low-case {
	text-transform: lowercase;
}

.apply-button {
	width: 201px;
	height: 40px;
	color: #FFFFFF;
	margin-top: 60px;
	border-radius: 5px;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	background: #70D24E;
}

.reset-button {
	width: 108px;
	height: 28px;
	background: #F8F8F8;
	margin: 0 auto;
	margin-top: 5px;
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	border-bottom: 1px solid #70D24E;
	box-sizing: content-box;
}

/* items block */
.cards-container {
	max-width: 1170px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;

	margin-top: 45px;
}

/*card styles */
.card-item {
	width: 270px;
	height: 365px;
	border-radius: 10px;
	background: #FFFFFF;
}

.card-item-photo {
	margin: 10px;
	margin-top: 4px;
	border: 1px solid #EBEBEB;
	border-radius: 5px;
}

.apartment-number {
	width: 62px;
	height: 30px;
	border-left: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	border-radius: 0px 5px;
	float: right;
	text-align: center;
}



.card-item-photo-small {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px;
	margin-top: 4px;
	border: 1px solid #EBEBEB;
	border-radius: 5px;
}

.apartment-number {
	width: 62px;
	height: 30px;
	border-left: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	border-radius: 0px 5px;
	align-self: flex-end;
	text-align: center;
}

/* text in card */
.floor-number {
	display: inline-block;
	margin-top: 8px;
	margin-left: 15px;
}

.apartment-area {
	display: inline-block;
	float: right;
	margin-top: 8px;
	margin-right: 15px;
}

.apartment-price {
	display: block;
	text-align: right;
	font-size: 20px;
	margin-right: 15px;
}

.price-per-metr {
	display: block;
	text-align: right;
	font-size: 12px;
	margin-right: 15px;
}

.opacity-text {
	opacity: 0.5;
}

.more-details-button {
	width: 250px;
	height: 40px;
	color: #FFFFFF;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 2px 2px 5px 5px;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	background: #70D24E;
}
